openvidu.pro.license={{ openvidu_license }}
openvidu.secret={{ openvidu_secret }}
server.ssl.enabled=false
server.port=5443

openvidu.cdr={{ openvidu_cdr }}

openvidu.recording=true
openvidu.recording.public-access={{ openvidu_recording_public_access }}
openvidu.recording.notification={{ openvidu_recording_notification }}
openvidu.recording.autostop-timeout={{ openvidu_recording_timeout }}

openvidu.streams.video.max-recv-bandwidth={{ openvidu_streams_video_max_recv_bandwidth }}
openvidu.streams.video.min-recv-bandwidth={{ openvidu_streams_video_min_recv_bandwidth }}
openvidu.streams.video.max-send-bandwidth={{ openvidu_streams_video_max_send_bandwidth }}
openvidu.streams.video.min-send-bandwidth={{ openvidu_streams_video_min_send_bandwidth }}

openvidu.pro.cluster={{ openvidu_pro_cluster }}
openvidu.pro.cluster.load-strategy={{ openvidu_pro_cluster_load_strategy }}

coturn.ip={{ openvidu_public_ip }}

openvidu.webhook={{ openvidu_webhook }}
{% if openvidu_webhook_endpoint != "WEBHOOK_ENDPOINT" %}
openvidu.webhook.endpoint={{ openvidu_webhook_endpoint }}
{% endif %}

openvidu.publicurl=
MY_UID=
openvidu.recording.composed-url=

kms.uris=[]

{% if openvidu_pro_cluster_environment == "on_premise" %}
openvidu.pro.cluster.mode=manual
{% else %}
openvidu.pro.cluster.mode=auto
{% endif %}
openvidu.pro.cluster.test=false
openvidu.pro.cluster.environment={{ openvidu_pro_cluster_environment }}
{% if openvidu_pro_cluster_media_nodes != "MEDIA_NODES_START_NUMBER" %}
openvidu.pro.cluster.media-nodes={{ openvidu_pro_cluster_media_nodes }}
{% endif %}

openvidu.pro.kibana.host=http://localhost/kibana
openvidu.pro.elasticsearch.host=http://localhost:9200

