#!/bin/bash -x
set -eu -o pipefail

export AWS_DEFAULT_REGION={{ aws_default_region }}

SECGRPID=$(aws ec2 describe-instances \
             --output text \
             --filters Name=instance-state-name,Values=running Name=tag:ov-cluster-member,Values=kms \
             --query 'Reservations[].Instances[].NetworkInterfaces[].Groups[].GroupId[]')

sed -i "s/SEC_GROUP_ID/${SECGRPID}/" /opt/openvidu/cluster/openvidu_launch_kms.sh 