#!/bin/bash -x
set -eu -o pipefail

export AWS_DEFAULT_REGION={{ aws_default_region }}
OUTPUT=$(mktemp -t openvidu-autodiscover-XXX --suffix .json)

aws ec2 describe-instances \
  --output text \
  --filters Name=instance-state-name,Values=running Name=tag:ov-cluster-member,Values=kms \
  --query 'Reservations[*].Instances[*].{id:InstanceId,ip:PrivateIpAddress}' > ${OUTPUT}

cat ${OUTPUT} | jq --raw-input 'split("\n") | map(split("\t")) | .[0:-1] | map( { "id": .[0], "ip": .[1] } )'
