#!/bin/bash -x
set -eu -o pipefail

export AWS_DEFAULT_REGION={{ aws_default_region }}
TEMPFILE=$(mktemp -t file-XXX --suffix .json)

AWS_PRIVATE_IP=$(curl http://169.254.169.254/latest/meta-data/local-ipv4)

cat >$TEMPFILE<<EOF
{
  "Comment": "Testing OpenVidu Server OwnCert Certificate.",
  "Changes": [
    {
      "Action": "UPSERT",
      "ResourceRecordSet": {
        "Name": "{{ domain_name }}.",
        "Type": "A",
        "TTL": 60,
        "ResourceRecords": [
          {
            "Value": "${AWS_PRIVATE_IP}"
          }
        ]
      }
    }
  ]
}
EOF

aws route53 change-resource-record-sets --hosted-zone-id ZVWKFNM0CR0BK \
  --change-batch file:///$TEMPFILE