#!/bin/bash 
set -e -o pipefail

# Set debug mode
DEBUG=${DEBUG:-false}
[ "$DEBUG" == "true" ] && set -x

source /opt/openvidu/cluster/openvidu.rc 

ID=$1
[ -z "${ID}" ] && { echo "Must provide instance ID"; exit 1; }

aws ec2 terminate-instances --instance-ids ${ID} --output json 
